In [1]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query10 = """
    SELECT * FROM (SELECT sub.facility, SUM(sub.cost) AS total_revenue 
    FROM (SELECT Facilities.name AS facility, 
    CASE WHEN Bookings.memid =0 THEN Facilities.guestcost * Bookings.slots 
    ELSE Facilities.membercost * Bookings.slots END AS cost 
    FROM Bookings 
    INNER JOIN Facilities ON Bookings.facid = Facilities.facid 
    INNER JOIN Members ON Bookings.memid = Members.memid)sub 
    GROUP BY sub.facility)sub2 
    WHERE sub2.total_revenue <1000
    """
    
    cur.execute(query10)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [2]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [3]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query11 = """
    SELECT
    m.surname|| ' '|| m.firstname AS member,
    (SELECT surname||' '||firstname
    FROM Members
    WHERE memid = m.recommendedby) AS recommender
    FROM Members AS m
    WHERE m.memid != 0
    ORDER BY member
    """
    cur.execute(query11)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [4]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader Florence', 'Stibbons Ponder')
('Baker Anne', 'Stibbons Ponder')
('Baker Timothy', 'Farrell Jemima')
('Boothe Tim', 'Rownam Tim')
('Butters Gerald', 'Smith Darren')
('Coplin Joan', 'Baker Timothy')
('Crumpet Erica', 'Smith Tracy')
('Dare Nancy', 'Joplette Janice')
('Farrell David', None)
('Farrell Jemima', None)
('Genting Matthew', 'Butters Gerald')
('Hunt John', 'Purview Millicent')
('Jones David', 'Joplette Janice')
('Jones Douglas', 'Jones David')
('Joplette Janice', 'Smith Darren')
('Mackenzie Anna', 'Smith Darren')
('Owen Charles', 'Smith Darren')
('Pinker David', 'Farrell Jemima')
('Purview Millicent', 'Smith Tracy')
('Rownam Tim', None)
('Rumney Henrietta', 'Genting Matthew')
('Sarwin Ramnaresh', 'Bader Florence')
('Smith Darren', None)
('Smith Darren', None)
('Smith Jack', 'Smith Darren')
('Smith Tracy', None)
('Stibbons Ponder', 'Tracy Burton')
('Tracy Burton', None)
('Tupperware Hyacinth', None)
('Worthington-Smyth Henry', 'Smith Tracy')

In [5]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query12 = """
SELECT Facilities.name as FacName, SUM(Bookings.slots) AS Fac_usage
FROM Members
INNER  JOIN Bookings
ON Members.memid = Bookings.memid and Members.memid != 0
INNER JOIN Facilities
ON Facilities.facid = Bookings.facid
GROUP BY Facname
"""
    
    cur.execute(query12)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [6]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 1086)
('Massage Room 1', 884)
('Massage Room 2', 54)
('Pool Table', 856)
('Snooker Table', 860)
('Squash Court', 418)
('Table Tennis', 794)
('Tennis Court 1', 957)
('Tennis Court 2', 882)

In [9]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query13 = """
    SELECT f.name AS name,  strftime('%m',b.starttime) AS month,  sum(b.slots) AS fac_usage
    FROM Facilities f
    JOIN Bookings b
    ON f.facid=b.facid
    WHERE b.memid != 0
    GROUP BY month,name
    ORDER BY month, fac_usage DESC
    """
    cur.execute(query13)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [10]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Tennis Court 1', '07', 201)
('Massage Room 1', '07', 166)
('Badminton Court', '07', 165)
('Snooker Table', '07', 140)
('Tennis Court 2', '07', 123)
('Pool Table', '07', 110)
('Table Tennis', '07', 98)
('Squash Court', '07', 50)
('Massage Room 2', '07', 8)
('Badminton Court', '08', 414)
('Tennis Court 2', '08', 345)
('Tennis Court 1', '08', 339)
('Massage Room 1', '08', 316)
('Snooker Table', '08', 316)
('Pool Table', '08', 303)
('Table Tennis', '08', 296)
('Squash Court', '08', 184)
('Massage Room 2', '08', 18)
('Badminton Court', '09', 507)
('Pool Table', '09', 443)
('Tennis Court 1', '09', 417)
('Tennis Court 2', '09', 414)
('Snooker Table', '09', 404)
('Massage Room 1', '09', 402)
('Table Tennis', '09', 400)
('Squash Court', '09', 184)
('Massage Room 2', '09', 28)